@import 'tailwindcss';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	color: #fffadc;
	background-color: #021526;
	font-family: 'Excon', sans-serif;
	letter-spacing: 0.5px;
	box-sizing: border-box;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

:root {
	--dark: #021526;
	--light: #fffadc;
	--accent: #213555;
	--border: #3e5879;
	--primary: #b6f500;
	--primary-hover: #a4dd00;
	--primary-border: #98cd00;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
